[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
django-filter = "*"

[dev-packages]

[requires]
python_version = "3.13"
